.service-card {
  transition: transform 0.3s ease;
}
.service-card:hover {
  transform: translateY(-10px);
}
.metric-card {
  color: white;
  border-radius: 10px;
}
.accordion-button:not(.collapsed) {
  color: #c7a536;
}
.fas, .far, .fab, .fal, .fad {
  color: #c7a536; /* Change to your desired color */
}
